* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #f8f9fa !important;
}
.div-nav {
  width: 100%;
  background-color: #fff;
}
nav {
  max-width: 90rem;
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}
.active-nav-link {
  font-weight: 600 !important;
}

#login {
  background-color: #fff;
  color: #3498db;
  border: 1px solid #3498db;
}
#login:hover {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
}
.blue-white {
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #3498db;
  transition: all 0.1s ease-in;
}
.blue-white:hover {
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #2683c2;
}
main {
  max-width: 80rem;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}
#filters-and-tours {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.eachPost {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.eachPost:hover {
  transform: translateY(-2px) !important;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
#rezervation-date {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: gray;
}

.custom-block {
  background-color: #e9ecef;
  padding: 1rem;
  border-radius: 10px;
  height: auto !important;
}

.circle-small {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 55px;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
